a {
  cursor: pointer;
  color: #fff !important;
}
.container {
  text-align: center;
}
div.bio {
  margin-bottom: 30px;
}
div.profile-image {
  margin-bottom: 10px;
}
div.skills {
  background-color: #CBC5C3;
  padding: 20px;
}
div.skills p, div.skills h2 {
  color: #fff;
}
.navbar {
  background-color: #CBC5C3;
  padding: 15px 60px !important;
}
div.aboutMe {
  padding: 20px;
}
.education {
  background-color: #E0D8D5;
  padding: 20px;
}
.education h2, .education p {
  color: #fff;
}
.experience {
  padding: 20px;
}