body {
  font-family: 'Inconsolata', monospace !important;
}
a {
  cursor: pointer;
  color: #fff !important;
}
.container {
  text-align: center;
}
div.bio {
  margin-bottom: 30px;
}
div.profile-image {
  margin-bottom: 10px;
}
div.skills {
  padding: 20px;
}
div.skills p{
  text-align: left;
}
.navbar {
  background-color: #43b6ab;
  padding: 15px 60px !important;
}
div.aboutMe {
  padding: 20px;
}
.education {
  border-left: solid black 1px;
  padding: 20px;
}
.experience {
  padding: 20px;
}
.graph-cont img {
  float: left;
}
@media (max-width: 768px) {
  .education {
    border-left: none;
  }
}