<html>
<head>
	<title>Mina Talai</title>
	<link rel="stylesheet" href="/stylesheet/style.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="parallax">

	</div>

	<div class="description">
		<h1>Hi, I'm Mina</h1>
		<h2>Web Developer</h2>
		<h2>Illustrator</h2>
		<h2>Architect</h2>
	</div>

	<div class="parallax2">
		<h3>The Last Few Years in a nutshell</h3>
		<p>I'm a fullstack developer with a background in architecture. Why? Because no one should be making life decisions in their late teenage years. I have a degree in Architecture and after working about 7 years in the field, I decided to quit and pursue Web Development. I quit my job and enrolled in a 3 month immersive boot-camp program. I met some pretty awesome people along the way. I got a job as a web developer after completing the program and have been programming ever since. Do I miss architecture? Yes, I still follow architecture news in social media and criticize every design element in restaurants I go to.</p>
	</div>
	<div class="parallax3">
		<h1>Experience</h1>
		<h2>Michael J. Fox Foundation for Parkinson's Research</h2>
		<h3>Web Developer</h3>
		<h3>April 2015 ~ Present</h3>
		<h2>General Assembly</h2>
		<h3>Web Development Immersive</h3>
		<h3>November 2014 ~ February 2015</h3>
		<h2>Truisi Design Group</h2>
		<h3>Project Manager</h3>
		<h3>May 2014 ~ November 2014</h3>
	</div>
	<div class="parallax">
		<h1>Skills</h1>
		<ul>
			<li>Javascript/jQuery</li>
			<li>PHP</li>
			<li>Ruby</li>
			<li>Git</li>
			<li>Sinatra</li>
			<li>Ajax</li>
			<li>Mustache</li>
			<li>Node.js</li>
			<li>Express</li>
			<li>SQL</li>
		</ul>
	</div>

</body>
</html>